# Intro to python

In [1]:
a =3
b=6.4234

In [3]:
print(a)
print(b)

3
6.4234

In [4]:
b

6.4234

In [5]:
type(a)

int

In [6]:
type(b)

float

In [7]:
a+b

9.4234

In [8]:
a*b

19.2702

In [9]:
a**b

1160.7552792547208

In [10]:
b%a

0.4234

In [11]:
12/7

1.7142857142857142

In [12]:
12//7

1

In [ ]:
print(a)

In [13]:
print(a*b)

3
19.2702

In [ ]:
# this is a comment

In [14]:
print(a +b)

9.4234

In [17]:
# %load code/notebook
#Example code:
# code
("a =", a, "and b =" , b)

('a =', 3, 'and b =', 6.4234)

In [16]:
(a + b)      # addition

9.4234

In [ ]:
(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
print()

In [20]:
mystring = 'hello world'

In [21]:
mystring

'hello world'

In [22]:
name = "Sarah"
mystring + name

'hello worldSarah'

In [23]:
print(mystring, name)

hello world Sarah

In [24]:
name*3

'SarahSarahSarah'

In [25]:
type(name)

str

In [26]:
len(name)

5

In [27]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
newString = 'the quick brown fox'
newString.split(' ')

['the', 'quick', 'brown', 'fox']

In [29]:
len(newString.split(' '))

4

In [30]:
len(newString)

19

In [31]:
newString.find('k')

8

In [32]:
bool_var1 = True
bool_var2 = False

In [33]:
bool_var1 == bool_var2

False

In [34]:
bool_var1 == 1

True

In [35]:
bool_var1 == 0

False

In [36]:
bool_var1 == 3.43

False

In [38]:
mylist = [3,7,4,6,3,7]
mylist

[3, 7, 4, 6, 3, 7]

In [39]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [40]:
mylist[3]

6

In [41]:
len(mylist)

6

In [42]:
mylist[6]

IndexError: list index out of range

In [ ]:
# %load code/index
# code
list7_2 = list(range(2, 11, -2))
# break cell here

1. Predict what the value of `list7_2` will be, is it what you expected? Summarize what a negative step value does.

2. Create a list using the range() function which contains the even numbers between 1 and 10 in reverse order ([10,8,6,4,2])